.Title {
  height: 64px;
  background: rgb(0, 33, 165);
  background: linear-gradient(
    200deg,
    rgba(0, 33, 165, 1) 0%,
    rgba(0, 51, 255, 1) 100%
  );
}

.text {
  font-size: 24px;
  line-height: 64px;
  font-weight: 700;
  font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif;
  color: white;
}
