.App {
  font-family: sans-serif;
  text-align: center;
}

.dual {
  display: flex;
  margin: 10px;
}

.Buttons {
  margin: 20px;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
